.nav li {
  padding: 5px;
  display: inline;
}
.nav .navbar-header {
  font-size: 24px;
}
.nav .container {
  color: #ffffff;
  padding: 14px 30px;
  text-transform: uppercase;
}

.nav a{
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}



.title { 
  height: 100vh;
  background-image:url('San_Francisco.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title .title-body .container {
  position: relative;
  top:80px;
}

.title h1 {
  color: #283018;
  font-size: 5vw;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;

}
/*72px*/

.title p {
  font-size: 2vw;
  color: #283018;
}
/*30px*/

.about-me {
  height: 100vh;
  background-image:url('Berkeley.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me .container {
  position: relative;
  top: 50px;
}

.about-me .container .row .about-me-picture {
  position: relative;
  top: 35px;
  right: 0px;
}

.about-me img {
  max-width: 55%;
  width: 55%;
  height: auto;
}

.about-me h1 {
  color: #553f4b;
  font-size: 5vw;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.about-me p {
  font-size: 1.2vw;
  color: #553f4b;
}

.resume {
  height: 100vh;
  background-image:url('Malibu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.resume .resume-body .container {
  position: relative;
  top:200px;
}

.resume h1 {
  color: #ffffff;
  font-size: 72px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.resume p {
  font-size: 30px;
  color: #ffffff;
}

.contact-me {
  height: 100vh;
  background-image:url('Disneyland.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-me .contact-me-body .container {
  position: relative;
  top:150px;
  left: 20px;
}

.contact-me h1 {
  color: #ffffff;
  font-size: 72px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.contact-me p {
  font-size: 30px;
  color: #ffffff;
}

