.nav li {
  display: inline;
}
.nav {
  background-color: #f0eceb;
  padding: 14px 30px;
  text-transform: uppercase;
}

.title {
  background-image:url('Malibu.jpg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.title .container {
  position: relative;
  top:100px;
}

.title h1 {
  /*color: #fff;*/
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.title p {
  font-size: 20px;
  /*color: #fff;*/
}

/*@media screen and (max-width: 1024px) {  Specific to this particular image 
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% *d/
  }*/

.about-me {
}
.resume li {
	display: inline;{
}
.contact-me li {
	display: inline;
}